<div class="ltms-pwa-projects-list">
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
	<app-project-item *ngFor="let shop of shops" [shop]="shop" routerLink="/project-item">
	</app-project-item>
</div>