.ltms-pwa-fab {
  width: 56px;
  height: 56px;
  background: #546e7a;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 75px 35px;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.ltms-pwa-fab.active {
  background: #faab1a;
}

.ltms-pwa-fab__ripple {
  position: absolute;
  left: -17px;
  bottom: -12px;
  width: 56px;
  height: 56px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  background: #fff;
  border-radius: 50%;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms, -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  z-index: 2;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ltms-pwa-fab:active .ltms-pwa-fab__ripple {
  opacity: 0.2;
  -webkit-transform: scale(1) translate(31%, -22%);
  transform: scale(1) translate(31%, -22%);
}

.ltms-pwa-fab__image {
  overflow: hidden;
  z-index: 3;
}

.ltms-pwa-toast-msg {
  max-width: 290px;
  min-height: 50px;
  line-height: 50px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: initial;
  margin-bottom: 10px;
  background-color: #404040;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  word-break: break-all;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  will-change: transform;
  position: fixed;
  top: 60px;
  right: 20px;
}

.ltms-pwa-toast-msg--show {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
