<div class="ltms-pwa-toast-msg"></div>
<div class="ltms-pwa-fab ltms-pwa-fab__push" (click)="checkEventForSubscribe();" #ltmsPwaPushNotification>
  <div class="ltms-pwa-fab__ripple"></div>
  <img class="ltms-pwa-fab__image" #ltmsPwaPushNotificationImage src="./assets/image/push-off.png" alt="Push Notification" />
</div>
