<div class="ltms_feedback_generator_container">
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
  <iframe #ltmsPreviewContainer class="ltms_preview_container" [src]=setFeedbackUrl(feedbackUrl.longUrl) scrolling="no"></iframe>
</div>
