.ltms_preview_container {
  margin-top: 55px;
  margin-bottom: 10px; 
  overflow-y: scroll;
  border: none;
}

.ltms_feedback_generator_container {
  width: 100%;
}

iframe {
  width: 1px;
  min-width: 100%;
  *width: 100%;
  margin:0px;
  padding:0px;
}
