<div class='ltms-pwa-feed-item'>
  <div class="ltms-pwa-wheel-container">
    <div class="" id="noRatingContainer">
    </div>
    <canvas style="margin-top: 10px" width="50" height="50" #primaryRating></canvas>
  </div>
  <div class='ltms-pwa-feed-comment'>
    <div class='ltms_pwa_feed_ref_token'>REF : {{feedItem ? feedItem.feedback_reference_token : ''}}</div>
    <div class='ltms_pwa_feed_status' [style.color]=statusColor>{{statusName}}</div>
    <!-- <div class="ltms_pwa_feed_shopname">{{feedItem.shops_name}}</div> -->
    <!-- <i class="fas fa-flag" style="margin-top: 10px; margin-left: 40px;"></i> -->
    <div class='ltms_pwa_feed_comment'>{{feedItem.last_comment ? feedItem.last_comment.comments : ''}}</div>
  </div>
  <div class='ltms-pwa-feed-date-container'>
    <!-- <i class="fas fa-flag" #ltmsPwaFeedStatus style="margin-top: 10px; margin-left: 40px;"></i> -->
    <!--     <i #ltmsPwaFeedDeviceContainer aria-hidden="true" style="margin-left: 23px"></i>
 -->
    <div class='ltms-pwa-feed-date'>{{feedItem ? (feedItem.created_date | timeAgo) : ''}}</div>
  </div>
</div>
<br>
