.ltms-pwa-feed-item {
  min-height: 70px;
  background: #fff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 91.2%;
  /* float: left; */
  /* margin: 5px; */
  margin: auto;
  height: 88px; 
}

.ltms-pwa-feed-rating {
  margin-left: 10px;
  margin-top: 15px;
}

.ltms-pwa-feed-comment {
  display: grid;
  float: left;
  min-height: 66px;
  width: 60%;
  margin-top: 7px;
}

.ltms-pwa-feed-date {
  font-size: 10px;
  font-weight: bold;
  margin-top: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ltms-pwa-feed-date-container {
    min-height: 66px;
    float: right;
    width: calc(100% - 82%);
    margin-right: 7px;
}

.ltms-pwa-wheel-container {
  display: inline-block;
  padding: 9px;
  margin-left: 7px;
  float: left;
  width: 12%;
}

.ltms_pwa_feed_username {
  width: auto;
  float: left;
  margin-left: 10%;
  font-weight: bold;
  font-size: small;
  min-width: max-content;
}


.ltms_pwa_feed_ref_token {
  width: auto;
  float: left;
  margin-top: 3%;
  margin-left: 10%;
  font-weight: bold;
  font-size: 16px;
  min-width: max-content;
  height: 22px;
}


.ltms_pwa_feed_status {
  width: auto;
  float: left;
  margin-left: 10%;
  margin-right: 1%;
  font-weight: bold;
  font-size: 14px;
  min-width: max-content;
  height: 20px;
}

.ltms_pwa_feed_shopname {
  width: auto;
  margin-left: 10%;
  font-size: small;
  font-weight: bold;
}

.ltms_pwa_feed_comment {
  margin-left: 10%;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
