.ltms-pwa-feed-header-icon {
  width: 48px;
  height: 48px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 56px;
  color: #FFF;
  background: #72a5ed;
  position: fixed;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 16px 16px 0 16px;
  will-change: transform;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
}

.ltms-pwa-feed-header-title {
  font-size: 16px !important;
  font-weight: 400;
  font-size: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

header {
  position: fixed;
  width: 100%;
  height: 56px;
  top: 0;
  background-color: #72a5ed;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 250ms linear;
}

.ltms-pwa-feed-header-icon {
  width: 48px;
  height: 48px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ltms-pwa-feed-header-icon:active {
  opacity: 0.8;
  outline: 1px solid #fff;
}

.ltms-pwa-feed-header-title {
  color: #fff;
  font-size: 20px;
  -ms-grid-row-align: center;
  align-self: center;
}

.ltms-pwa-feed-back-button {
  margin-top: 15px;
  margin-right: 5px;
}

.fas {
  margin-top: 5px;
  margin-right: 7px;
}
