<header>
  <span class="ltms-pwa-feed-header-icon">
    <div class="ltms-pwa-feed-menu-icon"> <!-- onclick="displayMenu()" --> 
<!--       <img src="./assets/image/icons8-menu-24.png">
 -->    
  <i class="fas fa-home fa-lg" (click)="redirectToHome()" ></i>
    </div>
  </span>
  <span class="ltms-pwa-feed-header-title">LW Help Desk</span>
  <span class="ltms-pwa-feed-back-button" #ltmsPwaFeedBackButton (click)="goback()">
<!--     <img src="./assets/image/arrow-left.svg" style="width:1.5em;height:1.5em">
 -->    <i class="fas fa-arrow-left fa-lg"></i>
  </span>
</header>
