.ltms_pwa_user_avatar img {
  border-radius: 50%;
  margin-top: 2.5%;
}

.ltms_pwa_user_avatar .profilePic {
  width: 60px;
  height: 60px;
  margin-top: -1px;
  border-radius: 60px;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
}

.ltms_pwa_user_avatar {
  text-align: right;
  margin-right: 10px;
}

.ltms_pwa_edit_user_profile_container {
  margin-top: 19%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  overflow-y: scroll;
}

.ltms_pwa_editable_name_div {
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
  height: 65px;
}

.ltms_pwa_editable_label_name {
  margin-right: 20%;
  margin-top: 5%;
  color: grey;
  font-size: 12px;
  margin-left: 10px;
}

.ltms_pwa_editable_input_name {
  margin-left: 10px;
  font-size: 12px;
  border: unset;
}

.ltms_pwa_editable_div {
  min-height: 40px;
  border-bottom: 0.5px solid #ddd;
  text-align-last: right;
}

.ltms_pwa_editable_label {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  float: left;
  margin-top: 4%;
}

.ltms_pwa_editable_text {
  border: unset;
  text-align: right;
  padding-right: 2%;
  font-size: 12px;
  margin-top: 13px;
}

.ltms_Pwa_edit_reset {
  font-size: 12px;
  width: 60px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
  border-radius: 4px;
  float: left;
  text-align: center;
  height: 18px;
  color: white;
  background-color: #068cf7;
  margin-top: 2px;
}

.ltms_pwa_edit_save {
  font-size: 12px;
  width: 60px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
  text-align: center;
  height: 18px;
  margin-left: 48%;
  background-color: green;
  color: white;
  border-radius: 4px;
  border-width: inherit;
}

.ltms_pwa_edit_button_div {
  min-height: 40px;
  margin-left: 17px;
  margin-top: 10px;
}


.ltms_pwa_user_avatar_d .avtar {
  border-radius: 50%;
  margin-top: 2.5%;
}

.ltms_pwa_user_avatar_d .profilePic {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
}


.ltms_pwa_user_avatar_d {
  text-align-last: right;
  margin-right: 12px;
}

.ltms_pwa_edit_user_profile_container_display {
  margin-top: 19%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  overflow-y: scroll;
}

.ltms_pwa_editable_name_div_d {
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
  height: 65px;
}

.ltms_pwa_editable_label_name_d {
  margin-right: 20%;
  margin-top: 5%;
  color: grey;
  font-size: 12px;
  margin-left: 10px;
}

.ltms_pwa_editable_div_name_d {
  margin-left: 10px;
  font-size: 12px;
  border: unset;
}

.ltms_pwa_editable_div_d {
  min-height: 40px;
  border-bottom: 0.5px solid #ddd;
  text-align-last: right;
}

.ltms_pwa_editable_label_d {
  color: grey;
  font-size: 12px;
  margin-left: 10px;
  float: left;
  margin-top: 4%;
}

.ltms_pwa_editable_text_d {
  padding-right: 2%;
  font-size: 12px;
  padding-top: 12px;
}

.ltms-pwa-profile-pic-main-container {
  display: none;
  text-align: center;
  margin: 10px;
  position: fixed;
  background-color: antiquewhite;
  width: 90%;
  height: 70px;
  bottom: 1px;
  /* border-radius: 7%; */
  border: 2px solid #9E9E9E;
  padding: 10px;
  border-top-right-radius: 50px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
  border-top-left-radius: 50px 20px;
  background-color: white;
}

.ltms-pwa-profile-pic-choose {
  margin-top: 15px;
}

.ltms-pwa-camera {
  float: left;
  margin-left: 75px;
}

/*  **************************** Profile Pic reset container ***************************** */

.ltms-pwa-ProfilePic-reset-container {
  text-align: center;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.ltms-pwa-picture-container {
   margin-top: 70px;;
}

.ltms-pwa-picture-container img {
  width: 90%;
}

.ltms-pwa-picture-reset {
  margin-right: 10%;
  margin-left: 29%
}

.ltms-pwa-picture-reset button {
  width: 60px;
  color: white;
  height: 25px;
  background-color: #00BCD4;
  box-shadow: inset 0 1px 0 0 rgba(102, 191, 255, 0.75), 0 0 0 0 rgba(0, 149, 255, 0);
  color: #FFF;
}

.ltms-pwa-picture-send {
  width: 100%;
  margin-left: 130%;
}

.ltms-pwa-picture-send button {
  width: 60px;
  color: white;
  height: 25px;
  background-color: #00BCD4;
  box-shadow: inset 0 1px 0 0 rgba(102, 191, 255, 0.75), 0 0 0 0 rgba(0, 149, 255, 0);
  color: #FFF;
}

.ltms-pwa-picture-selection {
  position: fixed;
  flex: end;
  display: flex;
  bottom: 30px;
}

/* ******************* Camera capture for Profile Pic ************************ */
.ltms-pwa-picture-camera-capture-container {
  text-align: center;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.ltms-pwa-close-camera-capture {
  text-align: right;
  margin-right: 10px;
  color: white;
}
