<main>
<div class="ltms_pwa_edit_user_profile_container" [hidden]="!submitted">
  <form (ngSubmit)="onSubmit()" #editUserProfileForm="ngForm">
    <div class="ltms_pwa_editable_name_div">
      <div style="float: left; margin-top: 9px;">
        <label class="ltms_pwa_editable_label_name">Name</label>
        <input class="ltms_pwa_editable_input_name" [(ngModel)]="userProfile.name" name="Name">
      </div>
      <div class="ltms_pwa_user_avatar" (click) ="getProfilePic()">
        <img class= "avtar" src="https://static1.litmusworld.com/lw_dashboard/img/male.png"  *ngIf="!userProfileInfo">
        <img class= "profilePic" *ngIf = userProfileInfo [src]=userProfileInfo>
      </div>
      </div>
      <div class="ltms_pwa_editable_div">
        <label class="ltms_pwa_editable_label">Contact Number</label>
        <input class="ltms_pwa_editable_text" [(ngModel)]="userProfile.phone_number" name="Contact_No">
      </div>
      <div class="ltms_pwa_editable_div">
        <label class="ltms_pwa_editable_label">Email Id</label>
        <input class="ltms_pwa_editable_text" [(ngModel)]="userProfile.email_address" name="Email">
      </div>
      <!--  <div class='ltms_pwa_editable_div'>
        <label class="ltms_pwa_editable_label">Gender</label>
        <input class="ltms_pwa_editable_text" [(ngModel)]="userProfile.GEN" name="GEN">
        
         <div [hidden]="GEN.valid || GEN.pristine" class="alert alert-danger">
          gender is required
        </div>
      </div>
      <div class='ltms_pwa_editable_div'>
        <label class="ltms_pwa_editable_label">Date of Birth</label>
        <input class="ltms_pwa_editable_text" [(ngModel)]="userProfile.DOB" name="DOB">
      </div>
      <div class='ltms_pwa_editable_div'>
        <label class="ltms_pwa_editable_label">Location</label>
        <input class="ltms_pwa_editable_text" [(ngModel)]="userProfile.Address" name="Address">
      </div> -->
      <div class="ltms_pwa_edit_button_div">
        <div class="ltms_Pwa_edit_reset" (click)="resetUserProfile()">Reset</div>
        <button type="submit" class="ltms_pwa_edit_save" [disabled]="!editUserProfileForm.form.valid">Save</button>
      </div>
  </form>
</div>
<!-- ------------------------------------------------------------------------------------- -->
<!-- Form for edit user profile -->
<div class="ltms_pwa_edit_user_profile_container_display" [hidden]="submitted">
  <div class="ltms_pwa_editable_name_div_d">
    <div style="float: left; margin-top: 9px;">
      <label class="ltms_pwa_editable_label_name_d">Name</label>
      <div class="ltms_pwa_editable_div_name_d">{{userProfile.name}}
        <i class="fas fa-pencil-alt fa-sm" (click)="submitted=true"></i>
      </div>
    </div>
    <div class="ltms_pwa_user_avatar_d"  (click)="getProfilePic()">
      <img class= "avtar" src="https://static1.litmusworld.com/lw_dashboard/img/male.png"  *ngIf="!userProfileInfo">
      <img class= "profilePic" *ngIf = userProfileInfo [src]=userProfileInfo>
    </div>
    </div>
    <div class="ltms_pwa_editable_div_d">
      <label class="ltms_pwa_editable_label_d">Contact Number</label>
      <div class="ltms_pwa_editable_text_d">{{userProfile.phone_number}}</div>
    </div>
    <div class="ltms_pwa_editable_div_d">
      <label class="ltms_pwa_editable_label_d">Email Id</label>
      <div class="ltms_pwa_editable_text_d">{{userProfile.email_address}}</div>
    </div>
   <!--  <div class='ltms_pwa_editable_div_d'>
      <label class="ltms_pwa_editable_label_d">Gender</label>
      <div class="ltms_pwa_editable_text_d">{{userProfile.GEN}}</div>
    </div>
    <div class='ltms_pwa_editable_div_d'>
      <label class="ltms_pwa_editable_label_d">Date of Birth</label>
      <div class="ltms_pwa_editable_text_d">{{userProfile.DOB}}</div>
    </div>
    <div class='ltms_pwa_editable_div_d'>
      <label class="ltms_pwa_editable_label_d">Location</label>
      <div class="ltms_pwa_editable_text_d">{{userProfile.Address}}</div>
    </div> -->
  </div>
  <!-- ------------------ ------- Image upload for profile pic ---------- ----------------- -->
  <div class = "ltms-pwa-profile-pic-main-container" #ltmsPwaProfilePicMainContainer>
    <div class="ltms-pwa-profile-pic-choose">
      <div class="ltms-pwa-camera">
        <i class="fas fa-camera fa-2x" (click)="takeProfilePicByCamera()"></i>
      </div>
      <div class="ltms-pwa-attachment">
        <i class="fas fa-paperclip fa-2x" (click)="getProfilePicFromlocal()"></i>
      </div>
      <input type="file" style="display:none;" #ltmsPwaprofilePicAttachment (change)="getFileAttachment($event)">
    </div>
  </div>
  <!-- Profile pic review and reset container   -->
  <div class="ltms-pwa-ProfilePic-reset-container" #ltmsPwaProfilePicResetContainer>
    <div class="ltms-pwa-picture-container">
      <img *ngIf = profilePicUrl [src]=profilePicUrl>
    </div>
    <div class="ltms-pwa-picture-selection">
      <div class="ltms-pwa-picture-reset">
        <button (click)="resetProfilePic($event)">Reset</button>
      </div>
      <div class="ltms-pwa-picture-send">
        <button (click)="setProfilePic()">Send</button>
      </div>
    </div>
  </div>
  <!-- Profile pic camera capture  -->
  <div class= "ltms-pwa-picture-camera-capture-container" #ltmsPwaPictureCameraCaptureContainer style="display: none;">
    <div class="ltms-pwa-close-camera-capture">
      <i class="fas fa-times fa-3x" (click)="closeCameraCapture()"></i>
    </div>
    <div>
      <webcam  [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
      </webcam>
    </div>
    <div>
      <div>
        <i class="fas fa-circle-notch fa-3x" (click)="triggerSnapshot();"></i>
      </div>
      <button (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">
        <i class="fab fa-gg-circle fa-3x"></i>
      </button>
    </div>
  </div>
  
</main>
