<head>
  <title>{{title}}</title>
</head>
<div class='ltms-pwa-feed-main-container'>
  <app-feed-header></app-feed-header>
  <div>
    <router-outlet></router-outlet>
  </div>
 <app-push-notification></app-push-notification>
 </div>
