<div class="ltms-pwa-feed-list">
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
  <app-feed-item class="ltms-pwa-feed-item" *ngFor="let feed of feeds" [feedItem]="feed" routerLink="/feed-detail/{{feed._id}}">
  </app-feed-item>
</div>
<div class="ltms-pwa-footer-div">
  <img class="ltms-pwa-footer-logo" src="./assets/image/footer-logo.png">
</div>
<nav class="container" id="ltms-pwa-shop-list">
	<a class="ltms-pwa-action-buttons" (click)="generateAndRedirect()" tooltip="New"></a>
</nav>
