.ltms-pwa-feed-list {
  align-content: center;
  margin-top: 61px;
  overflow-y: scroll;
  height: calc(100vh - 91px);
}

.cardItem {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
}

.ltms-pwa-footer-div {
  background-color: #fdfdfd;
  display: table;
  width: 100%;
  height: 30px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
}

.ltms-pwa-footer-logo {
  margin: auto;
  display: table;
  margin-top: 6px;
}


/*-----Start new request creation-----*/
.ltms-pwa-fab {
  width: 56px;
  height: 56px;
  background: #72a5ed;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 75px 35px;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.ltms-pwa-fab.active {
  background: #faab1a;
}

.ltms-pwa-fab__image {
  overflow: hidden;
  z-index: 3;
}

/*-----End new request creation-----*/
.container {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0px;
}

.ltms-pwa-action-buttons-logo {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
    0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: table-cell;
  background-color: #f8f8f8;
}

.ltms-pwa-action-buttons {

  width: 56px;
  height: 56px;
  display: block;
  width: 56px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

.ltms-pwa-action-buttons:active,
.ltms-pwa-action-buttons:focus,
.ltms-pwa-action-buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, .14),
    0 4px 8px rgba(0, 0, 0, .28);
}

.ltms-pwa-action-buttons:not(:last-child) {
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  /*display: inline-block;*/
  width: 180px;
  display: flex;
  height: 60px;
  text-decoration: none;

}

.ltms-pwa-action-buttons-name {
  display: table-cell;
  vertical-align: middle;
  box-shadow: 0px 5px 11px -2px rgba(12, 0, 0, 0.18), 0px 4px 14px -7px rgba(21, 0, 0, 0.15);
  border-radius: 32%;
  background-color: #f8f8f8;
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  width: 120px;
  margin-right: 15px;
}

.container:hover .ltms-pwa-action-buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up ltms-pwa-action-buttons at differnt speeds */

.ltms-pwa-action-buttons:nth-last-child(1) {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
    0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
  background-image: url("/assets/image/add-icon.png");
  background-size: contain;
  background-color: #72a5ed;
  background-repeat: no-repeat;
  background-size: 31px 32px;
  background-position: center;
  margin-bottom: 60px;
  margin-right: 20px;
}
