.ltms_pwa_create_link_container {
  margin-top: 60px !important;
  margin: 5px;
}

.ltms_pwa_create_link {
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
  min-width: 100%;
  min-height: 80px;
  float: left;
  width: 100%;
  margin-top: 10px;
}

.ltms_pwa_create_link_logo {
  float: left;
}

.ltms_pwa_create_link_brand_name {
  padding-top: 4px;
}

.ltms_pwa_create_link_create_button_container {
  color: #6b7172;
  font-weight: bold;
  font-size: 10px;
  margin-left: 70px;
  margin-top: -10px;
}

.ltms_pwa_create_link_logo img {
  width: 30px;
  margin-top: 19px;
  margin-left: 15px;

}

.ltms_pwa_create_link_brand_name h2 {
  font-size: 15px;
  padding-top: 3px;
  padding-left: 70px;
}
