<div class="ltms_pwa_create_link_container" (click)="generateAndRedirect()">
  <div class="ltms_pwa_create_link">
    <div>
      <div class="ltms_pwa_create_link_logo">
        <img src="https://static1.litmusworld.com/litmus-logos/Litmus-box-icon.png">
      </div>
      <div>
        <div class="ltms_pwa_create_link_brand_name">
          <h2>{{shop.name}}</h2>
        </div>
        <div class="ltms_pwa_create_link_create_button_container" >
          New Request
        </div>
      </div>
      </div>
    </div>
  </div>
