<main class="ltms-pwa-feed-main" id="ltms-pwa-main-feed-detail">
  <!-- ---------------------------- Feed Detail Chat Cantainer ---------------------------  -->
  <div class="ltms-pwa-feed-detail-conversation-container">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
    <div class="ltms-pwa-feed-detail-top-bar">
      <div class="message row" id='ltmsPwafeedDetailContainer'>
        <div class="ltms-pwa-wheel-container">
          <div class="" id="noRatingContainer">
          </div>
          <canvas style="margin-top: 55px" width="50" height="50" id="feedDetailRatingCanvas"></canvas>
        </div>
        <div id="ltmsPwaFeedbackdetail" class='ltms-pwa-feedback-detail text-left'>
          <div class='ltms-pwa-shop-detail'>
            <div>
              <div class='ltms-pwa-feed-comment'>
                <div class='ltms_pwa_feed_ref_token'>REF : {{feedDetail && feedDetail['feed'] ? feedDetail['feed'].feedback_reference_token : ''}}</div>
                <div class="ltms_pwa_feed_shopname">{{feedDetail && feedDetail['shops'] && feedDetail['shops'][0] && feedDetail['shops'][0].name ? feedDetail['shops'][0].name : ''}}</div>
                <div class='ltms_pwa_feed_status' [style.color]=statusColor>{{statusName}}</div>
              </div>
              <div class='ltms-pwa-feed-date-container'>
                <!-- <i class="fas fa-flag" #ltmsPwaFeedStatus style="margin-top: 10px; margin-left: 40px;"></i> -->
                <!--     <i #ltmsPwaFeedDeviceContainer aria-hidden="true" style="margin-left: 23px"></i>
               -->
                <div class='ltms-pwa-feed-date'>{{feedDetail ? (feedDetail.created_date | timeAgo) : ''}}</div>
              </div>
              <!-- <div>
                <ng-container *ngIf="feedDetail && feedDetail.shops">
                  <div *ngFor="let shop of feedDetail.shops" class="ltms-pwa-shop-name" style="width:80%">
                    You rated <strong>{{ shop.name }}</strong>
                  </div>
                </ng-container>
                <div class="" style="float: right;">
                  <small *ngIf="feedDetail && feedDetail.feed && feedDetail.feed.created_date">{{feedDetail.feed.created_date | timeAgo}}</small>
                </div>
              </div>
              <div style="font-size: 12px" class="ltms-pwa-main-comment" *ngIf="feedDetail && feedDetail.feed && feedDetail.feed.feed_params">
                {{feedDetail.feed.feed_params.comments}}
              </div>
              <div *ngIf="feedDetail && feedDetail.feed && feedDetail.feed.comments" class="ltms-pwa-comment-count">
                <img src="./assets/image/chatting-icon.png">
                <span>
                  {{ feedDetail.feed.comments.length }} Comments
                </span>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="main" role="main" class="ltms-pwa-main-chat-text-conatiner">
      <!--       <div style="margin-top: 154px" class="ltms-pwa-discussion-div">
        <ol class="ltms-pwa-discussion" *ngIf="parameterRatings">
          
        </ol>
      </div>
 -->
      <!-- MAIN CONTENT -->
      <div style="margin-top: 154px" class="ltms-pwa-discussion-div" #ltmsPwaDiscussion>
        <ol class="ltms-pwa-discussion" *ngIf="feedDetail && feedDetail.feed">
          <div *ngFor="let parameterRating of parameterRatings">
            <li class="other">
              <div class="avatar">
                <img src="./assets/image/Litmus-box-icon.png">
                </div>
                <div class="messages">
                  <p>{{parameterRating['question']}}</p>
                </div>
            </li>
            <li class="self">
              <div class="avatar">
                <img src="https://static1.litmusworld.com/lw_dashboard/img/male.png">
                </div>
                <div class="messages">
                  <p>{{parameterRating['answer']}}</p>
                </div>
            </li>
          </div>
          <li *ngFor="let comment of feedDetail.feed.comments" [class.self]="comment.commented_by_type === 1" [class.other]="comment.commented_by_type === 2">
            <div class="avatar">
              <img *ngIf="comment.commented_by_type == 1" src="https://static1.litmusworld.com/lw_dashboard/img/male.png">
              <img *ngIf="comment.commented_by_type == 2" src="./assets/image/Litmus-box-icon.png">
            </div>
              <div class="messages">
                <p>{{comment.comment_text}}</p>
                <div *ngIf="comment.attachments"></div>
          <li *ngFor="let attachment of comment.attachments | keyvalue" (click)="ReadAttachedFile(attachment.value)" #previewAttachedFile>
            Attachment {{attachment.key}}
<!--             <img src="{{getUrl(attachment.value)}}">
 -->          </li>
          <time>{{comment.created_date | timeAgo}}</time>
      </div>
      </li>
      </ol>
    </div>
  </div>
  <footer class="ltms-pwa-footer">
    <div class="ltms-pwa-flex ltms-pwa-composer">
      <i class="fas fa-paperclip fa-lg" id="ltmsPwaFileAttachment" (click)="selectFileForAttachment()"></i>
      <input type="text" class="ltms-pwa-composer-input" id="ltmsPwaMessageInput" #ltmsPwaMessageInput placeholder="Type Your message here !" (keyup.enter)=postComment(ltmsPwaMessageInput.value,null)>
      <button class="send" (click)="postComment(ltmsPwaMessageInput.value,null);">
        <div class="circle">
          <img src="./assets/image/paper-plane.svg">
          </div>
      </button>
    </div>
  </footer>
  </div>
  <!-- --------------------------file attachment container------------------------------ -->
  <div class="ltms-pwa-file-attacment-container" #ltmsPwaFileAttachmentComponent>
    <div class="ltms-pwa-file-composer">
      <div class="ltms-pwa-file-attachment-close">
        <i class="fas fa-times fa-lg" (click)="closeFileAttachment()"></i>
      </div>
      <div class="ltms-pwa-file-attaced-list" *ngFor="let file of fileNames">
        <div class="ltms-pwa-file-attached-doc" *ngIf="!(file.file.type.indexOf('image')>=0)">
          <div style="float: left;">
            {{file.file.name}}
          </div>
          <div style="text-align: right;">
            <i class="fas fa-times fa-lg" (click)="resetAttachedFile(file)"></i>
          </div>
        </div>
        <div class="ltms-pwa-file-attached-image" *ngIf="file.file.type.indexOf('image')>=0">
          <div style="float: left; ">
            <img [src]="file.imageSrc" style="width: 70px; height: 50px">
          </div>
            <div style="text-align: right;">
              <i class="fas fa-times fa-lg" (click)="resetAttachedFile(file)"></i>
            </div>
          </div>
        </div>
        <div class="ltms-pwa-comment-caption">
          <input type="text" placeholder="Add caption here!" id="ltmsPwaMessageInputedCaption" #ltmsPwaMessageInputedCaption>
        </div>
        <div>
          <input type="file" class="ltms-pwa-file-composer-input" multiple #ltmsPwaFileAttachmentInput (change)="getFileAttachment($event)">
          <div class="ltms-pwa-add-attachment">
            <button (click)="addFileAttachment()">Add</button>
            <button (click)="postFileAttachment(ltmsPwaMessageInputedCaption.value)" style="margin-left: 50%">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ltms-pwa-toast-msg"></div>
    <!-- ------------------------Camera Capture ------------------------- -->
    <div class="ltms-pwa-image-capture-container" #ltmsPwaImageCaptureContainer>
      <!-- Camera view -->
      <div class="ltms-pwa-image-capture-image" [hidden]="submitted">
        <div class="close">
          <i class="fas fa-times fa-lg" (click) = "closeCamera()"></i>
        </div>
        <div class="ltms-pwa-web-cam" #webCam>
          <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)">
          </webcam>
        </div>
        <div class="ltms-pwa-image-capture-characteristics">
          <div class="ltms-pwa-chat-capture">
            <i class="fas fa-circle-notch fa-3x" (click)="triggerSnapshot();"></i>
          </div>
          <button class="ltms-pwa-image-camera-toggel" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">
            <i class="fab fa-gg-circle fa-3x"></i>
          </button>
        </div>
      </div>
      <!-- Preview of Captured Image -->
      <div class="ltms-pwa-image-preview" [hidden]="!submitted">
        <div class="ltms-pwa-image-snapshot" *ngIf="webcamImage">
          <img [src]="webcamImage.imageAsDataUrl"/>
      </div>
          <div class="ltms-pwa-image-preview-correction">
            <div class="ltms-pwa-image-sanapshot-reCapture">
              <i class="fas fa-times fa-3x" (click)="reCaptureImage()"></i>
            </div>
            <div class="ltms-pwa-image-sanapshot-send">
              <i class="fas fa-check fa-3x" (click)="sendImageforChat(ltmsPwaImageMessageCaption.value)"></i>
            </div>
          </div>
          <div class="ltms-pwa-comment-image-caption">
            <input type="text" placeholder="Add caption here!" id="ltmsPwaImageMessageCaption" #ltmsPwaImageMessageCaption>
          </div>
        </div>
      </div>
</main>
