/*/*/



*#main_feeds {
  height: 100%;
  overflow: scroll;
}

*/ #ltms-pwa-main-feed-detail {
  height: calc(100% - 56px);
  overflow: hidden;
}

/* ********************** Feed Detail Chat Container ************************ */

.ltms-pwa-feed-main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.ltms-pwa-feed-detail-conversation-container {
  border: 1px solid #dddddd;
  overflow: hidden;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.44) !important;
}

.ltms-pwa-feed-detail-top-bar {
  background: #eaeaea;
  color: white;
  padding: 0.5rem;
  overflow: hidden;
  width: 100%;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}


.ltms_pwa_feed_ref_token {
  width: 100%;
  float: left;
  padding-top: 3%;
  padding-left: 10%;
  font-weight: bold;
  font-size: 16px;
  min-width: max-content;
  height: 22px;
}


.ltms_pwa_feed_status {
    float: left;
    /*padding-left: 10%;*/
    font-weight: normal;
    font-size: 14px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    height: 20px;
    text-align: right;
    width: 50%;
    font-size: 16px;
    padding-top: 10px;
}

.ltms_pwa_feed_shopname {
  float: left;
  padding-left: 10%; 
  font-weight: normal;
  font-size: 14px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  height: 20px;
  text-align: left;
  width: 50%;
  box-sizing: border-box;
  font-size: 16px;
  padding-top: 10px;
}

.ltms-pwa-feed-comment{
  display: block;
  float: left;
  min-height: 66px;
  width: 100%;
}

.ltms_pwa_feed_comment {
  margin-left: 10%;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}
.ltms-pwa-main-chat-text-conatiner {
  height: calc(100% - 155px);
  margin-bottom: 60px;
}

.ltms-pwa-shop-detail {
  margin-top: 50px;
}

.ltms-pwa-shop-name,
.ltms-pwa-main-comment,
.ltms-pwa-comment-count {
  padding-bottom: 10px;
}

#ltmsPwafeedDetailContainer {
  text-align: -webkit-left;
  margin-left: 0px;
  list-style: none;
  padding: 1px 0px 0px 4px;
}

.ltms-pwa-wheel-container {
  display: inline-block;
  padding: 0px;
  margin-top: 9px;
  margin-left: 7px;
  margin-right: 7px;
  float: left;
  width: auto;
  width: 15%;
}

#ltmsPwaFeedbackdetail {
  float: left;
  margin-left: 0px;
  padding-left: 2px;
  width: 75%;
  color: black;
  font-family: inherit;
}

.time-stamp {
  text-align: right;
  display: block;
}

.no-rating-text {
  color: #695e5e;
  white-space: nowrap;
  font-size: 1.5ex;
  line-height: 4;
}


@media screen and (min-width: 400px) {
  .ltms-pwa-wheel-container {
    width: 12%;
  }

  #ltmsPwaFeedbackdetail {
    width: 77%;
  }
}

@media screen and (min-width: 500px) {
  .ltms-pwa-wheel-container {
    width: 10%;
  }

  #ltmsPwaFeedbackdetail {
    width: 85%;
  }
}

@media screen and (min-width: 790px) {
  .ltms-pwa-wheel-container {
    width: 7%;
  }

  #ltmsPwaFeedbackdetail {
    width: 90%;
  }

  .time-stamp {
    margin-right: 10px;
  }
}

@media (min-width: 767px) {
  .ltms-pwa-feedback-detail {
    margin-left: -15px;
  }
}

.ltms-pwa-discussion li {
  padding: 1rem;
  overflow: hidden;
  display: flex;
  padding-right: 23px;
  padding-left: 35px;
  -webkit-overflow-scrolling: touch;
}

.ltms-pwa-discussion .avatar {
  width: 40px;
  position: relative;
}

.ltms-pwa-discussion .avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.24);
  padding: 2px 2px;
}

.other .avatar::after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  width: 0;
  height: 0;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-bottom-right-radius: 5px;
}

.ltms-pwa-footer {
  width: 100%;
  height: 66px;
  background-color: #f5f5f5;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}

.self .messages {
  order: 1;
  border-bottom-right-radius: 0;
  background-color: #66a6ff;
  margin-right: 10px;
}

.self .avatar {
  order: 2;
}

.self li {
  background-color: white;
  border: 2px solid #66a6ff;
}

.ltms-pwa-discussion .self .avatar:after {
  padding-top: 20px;
  content: "";
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 0;
  height: 0;
  border: 5px solid #66a6ff;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.other {
  /*position: fixed;*/
  margin-top: -11px;
  margin-left: -67px;
  font-size: x-small;
}

.other li {
  background-color: #dcf8c6;
  border: 2px solid white;
}

.ltms-pwa-discussion .other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  width: 0;
  height: 0;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-bottom-right-radius: 5px;
}

.messages {
  margin-left: 7px;
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  color: #333;
  max-width: 250px;
}

.messages p {
  font-size: 1.1em;
  word-wrap: break-word;
  margin: 0 0 0.2rem 0;
}

.other .messages p {
  text-align: left;
  font-size: 15px
}

.messages time {
  font-size: 0.8rem;
  color: #8c8c8c;
  float: right;
}

.ltms-pwa-footer {
  position: fixed;
  bottom: 0px;
}

.ltms-pwa-discussion-div {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: calc(100vh - 210px);
  /*  margin-bottom: 60px;*/
}

.ltms-pwa-toast-msg {
  max-width: 290px;
  min-height: 50px;
  line-height: 50px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: initial;
  margin-bottom: 10px;
  background-color: #404040;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  word-break: break-all;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  will-change: transform;
  position: fixed;
  top: 60px;
  right: 20px;
}

.ltms-pwa-toast-msg--show {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.ltms-pwa-post-btn {
  padding: 10px;
  outline: none;
}

.ltms-pwa-post-btn img {
  width: 1em;
  height: 1em;
}

.ltms-pwa-post-Attachment img {
  width: 1em;
  height: 1em;
}

.ltms-pwa-pull-left {
  float: left;
}

.ltms-pwa-pull-right {
  float: right;
}

.ltms-pwa-flex {
  display: flex;
}

.ltms-pwa-padding-10 {
  padding: 10px;
}

.ltms-pwa-composer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 50px;
  width: 100%;
  z-index: 2;
  background-color: #f5f5f5;
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.ltms-pwa-composer .ltms-pwa-composer-input {
  border: 0;
  padding: 5px;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  background: #fff;
  height: 30px;
  border-radius: 90px;
}

.ltms-pwa-composer .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0;
  position: relative;
  outline: none;
}

.ltms-pwa-composer .send .circle {
  background: #72a5ed;
  border-radius: 50%;
  color: #fff;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ltms-pwa-composer .send .circle img {
  height: 18px;
  width: 18px;
}

#ltmsPwaFileAttachment {
  margin-right: 18px;
    margin-bottom: 15px;
    color: #A2B2FD;
    margin-left: 10px;
}


/*//file attachment*/

.ltms-pwa-file-attacment-container {
  display: none;
  top: 61px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
  margin-right: 10px;
  margin-left: 10px;
  height: 90%;
  position: fixed;
  width: 94%;
  z-index: 900;
  margin-bottom: 10px;
  background: #f5f5f5;
}

.ltms-pwa-file-composer {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  background-color: #f5f5f5;
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  padding-top: 30px;
}

.ltms-pwa-file-composer .ltms-pwa-file-composer-input {
  display: none;
}


/* ************************* File Attachment ***************************** */

.ltms-pwa-image-capture-container {
  display: none;
  border: 1px solid #dddddd;
  overflow: hidden;
  height: 100%;
  padding-top: 60px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 9999;
  bottom: 0px;
}

.ltms-pwa-add-attachment {
  position: fixed;
  bottom: 35px;
  width: 100%;
  margin: 20px;
}

.ltms-pwa-add-attachment button {
  font-weight: normal;
  background: none;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  color: #FFF;
  background-color: #0095ff;
  border: 1px solid #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  width: 67px;
  height: 30px;
}

.ltms-pwa-file-composer .ltms-pwa-file-attaced-list {
  width: 90%;
  margin: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
}

.ltms-pwa-file-attachment-close {
  text-align: right;
  margin-top: -20px;
  margin-right: 10px;
}


.ltms-pwa-comment-caption {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 95px;
}

.ltms-pwa-comment-caption input {
    width: 90%;
    border-bottom-color: gray;
    border-radius: 90px;
    height: 20px;
    border-width: 1px;
    padding: 6px;
}

/* ************************ Camera Capture ******************************** */
.ltms-pwa-comment-image-caption {
  text-align: center;
  /* bottom: 20px; */
  margin-top: 30px;
}

.ltms-pwa-comment-image-caption input {
  background-color: white;
  width: 80%;
  color: black;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-color: black;
}

.ltms-pwa-web-cam {
  height: 470px;
  width: 360px;
  overflow: scroll;
  margin-top: 56.5px;
}

.ltms-pwa-image-sanapshot-reCapture {
  float: left;
  margin-left: 30px;
}

.ltms-pwa-image-capture-characteristics {
  padding: 10px;
  background-color: white;
  text-align: center
}

.ltms-pwa-image-sanapshot-send {
  margin-left: 60%;
}

.ltms-pwa-chat-capture {
  float: left;
  width: 100%;
  text-align: center;
}

.ltms-pwa-image-camera-toggel {
  background-color: white !important;
  margin-top: 9px;
  border: unset;
}

.ltms-pwa-image-camera-toggel {
  background-color: black;
}

.ltms-pwa-image-preview {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.ltms-pwa-image-snapshot {
  height: 80%;
  margin: 10px;
}

.ltms-pwa-image-snapshot img {
  width: 100%;
}

.ltms-pwa-image-preview-correction {
  margin-top: 30px;
}

.close {
  margin: 10px;
  text-align: right;
}

.ltms-pwa-image-capture-image {
  text-align: center;
}
