/* You can add global styles to this file, and also import other style files */
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin:0px;
    position: fixed;
    width: 100%;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px 0;
    font-size: 1.1em;
    border-radius: 40px !important;
    font-weight: normal !important;
    padding-left: 5px;
    transform: rotate(30deg);
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
