.ltms_pwa_feed_menu_container {
  width: 100%;
}

.ltms_pwa_router_link {
  min-height: 10px;
  padding: 8px;
  margin: 10px, 10px, 10px, 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.ltms_pwa_router_link_text {
  margin-left: 10px;
  font-size: small;
  box-shadow: 0.5, 0.5, 0.5;
  width: calc(100% - 30px);
  align-items: left;
  left: 0;
  float: left;
  font-weight: bold;
}

.ltms_pwa_user_detail {
  height: 30%;
  top: 20px;
  font-size: 0.85em;
  font-weight: bold;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, .08), 0 1px 3px 1px rgba(60, 64, 67, .16);
}

.ltms_pwa_user_avatar {
  text-align: center;
}

.ltms_pwa_user_avatar img {
  border-radius: 50%;
  margin-top: 10px;
}

.ltms_pwa_edit_user_detail {
  position: absolute;
  right: 0;
  top: 4;
  margin-top: 10px;
}

.ltms_pwa_user_info {
  text-align: center;
  margin-bottom: 5px;
}

.ltms_pwa_feed_menu__list {
  margin-top: 3%
}

.ltms_pwa_user_profile_container {
  margin-top: 56px;
  overflow-y:scroll;
}

.ltms_pwa_user_contact {
  margin-left: -7px;
}
