
<div class="ltms_pwa_user_profile_container">
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>
  <div class="ltms_pwa_user_detail">
    <div class="ltms_pwa_user_avatar">
      <img src="https://static1.litmusworld.com/lw_dashboard/img/male.png" *ngIf="!profilePicUrl">
      <img *ngIf = profilePicUrl [src]=profilePicUrl style="width: 100px; height: 100px">
    </div>
      <div class="ltms_pwa_user_info">
        <div class="ltms_pwa_user_name" (click)="renderEditUserProfile()">
          <span>{{userProfile.name}}</span>
          <i class="fas fa-angle-right fa-lg" style="margin-left: 5px; font-size: 12px;"></i>
        </div>
        <div class="ltms_pwa_user_contact">{{userProfile.phone_number}}</div>
        <div class="ltms_pwa_user_contact">{{userProfile.email_address}}</div>
      </div>
    </div>
    <div class="ltms_pwa_feed_menu_container">
      <div class="ltms_pwa_feed_menu__list">
        <section class="ltms_pwa_router_link" routerLink="/feed-list">
          <span class= "ltms_pwa_router_link_text">My Requests</span>
          <i class="fas fa-angle-right fa-lg"></i>
        </section>
        <section class="ltms_pwa_router_link" routerLink="/project-list">
          <span class= "ltms_pwa_router_link_text">New Request</span>
          <i class="fas fa-angle-right fa-lg"></i>
        </section>
      </div>
    </div>
  </div>
